body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--fg);
}

:root {
  --bg: white;
  --fg: black;
}

.dark {
  --bg: #111;
  --fg: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background: var(--fg);
  color: var(--bg);
}

#container {
  display: flex;
  height: calc(100vh - 50px);
}

#blocklyDiv {
  height: 100%;
  width: 60%;
  background: #f0f0f0;
}

#stage {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}
